@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: #ffdb58;
}

.rainbow {
  background: linear-gradient(95deg, #e4c514 0%, #ffc300 100%);
  background: linear-gradient(
    95deg,
    #fc5353 0%,
    #f7d736 37%,
    #3facfa 67%,
    #dc3eeb 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.pulse::after {
  border: 1px solid rgb(34 197 94);
  border-radius: 100%;
  animation: pulsate 4s ease-out;
  animation-iteration-count: infinite;
  opacity: 0;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@keyframes pulsate {
  0% {
    transform: scale(1, 1);
    opacity: 0.0;
  }
  40% {
    opacity: 1.0;
  }
  80% {
    transform: scale(2, 2);
    opacity: 0.0;
  }
  100% {
    transform: scale(2, 2);
    opacity: 0.0;
  }
}
